ol {
    color:blue;
}

p {
    /* This is a color that is easy on the eyes */
    background-color: blanchedalmond;
    text-decoration: overline underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
}